<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About</title>
  </head>
  <body>
  {{> header}}
  <p>You'll know something about me here</p>
  {{> footer}}
  </body>
</html>
